<!-- jquery -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- bootstrap -->
<script type="text/javascript" src="js/bootstrap.js"></script>
<!-- chamada da função -->
    {{#if rOUd}}
        <h3>Nova Receita</h3>
    {{/if}}
    {{#if nRouD }}
        <h3>Nova Despesa</h3>
    {{/if}}
    
    {{#if alert }}
        <script type="text/javascript">
            $(window).load(function() {
                $('#myModal').modal('show');
            });
        </script>
       <div class="modal" id="myModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionada com sucesso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                     <p>Deseja adicionar outra entrada ?</p>
                </div>
                <div class="modal-footer">
                    <a href="/admin/entradas" ><button type="button" class="btn btn-secondary" >Não</button></a>
                    <a href="/admin/entrada/add-receita"> <button type="button" class="btn btn-primary">Sim</button></a>
                </div>
                </div>
            </div>
        </div>
    {{/if}}
    
<div class="card">
    <div class="card-body">
        <form action="/admin/entrada/nova" name="teste" method="POST">
            <label for="name">Valor:</label>
            <input type="text" id="valor" name="valor" placeholder="Digite o valor de entrada" class="form-control">
            <br>
           
            {{#if rOUd}}
                <label for="tipo">Tipo de entrada:</label>       
                <select name="tipo">            
                    <option value="1">Receita</option>
                </select>
                <br><br>
                <label for="categoriaId">Selecione Categoria:</label>
                <select name="categoriaId">
                    {{#each categorias}}
                        {{#if dataValues.tipo }}
                            <option value="{{dataValues.id}}">{{dataValues.nome}}</option>
                        {{else}}
                            
                        {{/if}}
                    {{/each}}      
                </select>
                <br><br>
                <label for="contaId">Selecione Conta:</label>
                <select name="contaId"> 
                    {{#each contas}}
                        <option value="{{dataValues.id}}">{{dataValues.nome}}</option>
                    {{/each}}      
                </select>
                <br><br> 
                <button type="submit" class="btn btn-success">Adicionar Receita</button>
            {{/if}}            
            
            {{#if nRouD}}
                <label for="tipo">Tipo de entrada:</label>       
                <select name="tipo">            
                    <option value="0"> Despesa </option>
                </select>
                <br><br>
                <label for="categoriaId">Selecione Categoria:</label>
                <select name="categoriaId">
                {{#each categorias}}
                    {{#if dataValues.tipo }}
                        
                    {{else}}
                        <option value="{{dataValues.id}}">{{dataValues.nome}}</option>   
                    {{/if}}
                {{/each}}      
                </select>
                <br><br>
                <label for="contaId">Selecione Conta:  </label>
                <select name="contaId"> 
                    {{#each contas}}
                        <option value={{dataValues.id}}>{{dataValues.nome}}</option>
                    {{/each}}      
                </select>
                <br><br> 
                <button type="submit" class="btn btn-danger">Adicionar Despesa</button>               
                
            {{/if}}
        </form>
    </div>
</div>
     

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
