<h2>Lista de Entradas</h2>
<hr>
    <div class="container">  
        <div class="row">
            {{#each entradas}}
                {{#if dataValues.tipo }}
                    <div class="col-md-4">
                        <div class="card text-center shadow-lg mb-5 bg-white rounded">
                            <div class="card-header-verde">
                                Entrada: <h6 class="text-verd">Receita</h6>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{dataValues.valor}}</h5>
                                <br>         
                                <a href="/admin/deletarEntrada/{{dataValues.id}}"><button class="btn btn-danger">Deletar</button></a> 
                            </div>
                        </div>
                        <br>
                    </div>
                {{else}}
                    <div class="col-md-4">
                        <div class="card text-center shadow-lg mb-5 bg-white rounded">
                            <div class="card-header-vermelho">
                                Entrada: <h6 class="text-verm" >Despesa</h6> 
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{dataValues.valor}}</h5>
                                <br>         
                                <a href="/admin/deletarEntrada/{{dataValues.id}}"><button class="btn btn-danger">Deletar</button></a> 
                            </div>
                        </div> 
                        <br>
                    </div>
                {{/if}}
            {{/each}}            
        </div><br>
      
    </div>
    
    <br>

<hr>
<a href="/admin/entrada/add-receita"><button class="btn btn-success">Nova Receita</button></a>
<a href="/admin/entrada/add-despesa"><button class="btn btn-danger">Nova Despesa</button></a>