
<h1>Controle de finanças</h1>
<br>
<div class="container">
    <div class="row blue-cont">
        <div class="col-sm"> Mês Corrente </div> 

        <div class="card shadow-lg mb-5 bg-white rounded">
            <div class="row">
                <div class="col-sm">
                    
                </div>
                <div class="col-sm colorWhite pading-top-buttom">
                    <p style="margin-top: 15px;">Saldo na Carteira</p>
                    <h4 class="card-title padding-bottom"  style="margin-top: -15px;">R$ {{saldCart}}</h4> 
                   
                </div>
                <div class="col-sm">
                
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-sm cant-arredond">
                    <div class="col-sm  image-flip mainflip flip-0">
                        <div class="card shadow-lg mb-5 bg-white rounded">
                            <div class="text-center pading-top-bottom row inline-block">
                                <div class="col-sm">
                                    <p><img class="img-fluid" src="/img/grafAlta.jpg" alt="card image"></p>
                                </div>
                                <div class="col-sm">
                                    <p class="card-text margin-top">Receitas</p>
                                    <h4 class="card-title">R$ {{totReceita}}</h4>
                                    <a href="/admin/entrada/add-receita" class="btn btn-primary margin-top btn-sm"><i class="fa fa-plus">Nova Receita</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-sm ">
                    <div class="col-sm  image-flip mainflip flip-0">
                        <div class="card shadow-lg mb-5 bg-white rounded">
                            <div class="text-center pading-top-bottom row inline-block">
                                <div class="col-sm">
                                    <p><img class="img-fluid" src="/img/grafBaixa.png" alt="card image"></p>
                                </div>
                                <div class="col-sm">
                                    <p class="card-text margin-top">Despesas</p>
                                    <h4 class="card-title">R$ {{totDespesa}}</h4>                                
                                    <a href="/admin/entrada/add-despesa" class="btn margin-top btn-primary btn-sm"><i class="fa fa-plus">Nova Despesa</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                
                <div class="col-sm ">
                    <div class="col-sm  image-flip mainflip flip-0">
                        <h4 class="tituloh4">Contas</h4>
                        <div class="card shadow-lg mb-5 bg-white rounded">
                            <div class="text-center pading-top-bottom row inline-block">
                                <div class="col-sm">
                                    <p><img class="img-fluid" src="/img/contas.jpg" alt="card image"></p>
                                </div>
                                <div class="col-sm">
                                    <p class="card-text margin-top">Contas</p>
                                    {{#each valorConta}}
                                       <h4 class="card-title"> {{id}} - R$ {{valor}}</h4>
                                    {{/each}}
                                    <a href=" " class="btn btn-primary margin-top btn-sm"><i class="fa fa-plus">Detalhamento</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm cant-arredond">
                    <div class="col-sm  image-flip mainflip flip-0">
                        <h4 class="tituloh4">Despesas por categoria</h4>
                        <div class="card shadow-lg mb-5 bg-white rounded">
                            <div class="text-center pading-top-bottom row inline-block">
                                <div class="col-sm">
                                    <p><img class="img-fluid" src="/img/gastCat.jpg" alt="card image"></p>
                                </div>
                                <div class="col-sm">
                                    <p class="card-text margin-top">Despesas por Categoria</p>
                                        {{#each valorCateg}}
                                            {{#if tipo}} 
                                                <h4 class="card-title"> {{nome}}  R$ +{{valor}}</h4>
                                            {{else}}
                                                <h4 class="card-title-red"> {{nome}}  R$ -{{valor}}</h4>
                                            {{/if}}
                                        {{/each}}         
                                    <a href="/admin/categorias" class="btn margin-top btn-primary btn-sm"><i class="fa fa-plus">Detalhamento</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

        </div>

        
    </div>
   
</div>
<script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-base.min.js"></script>